.row2 {
    padding-top: 200px;
    width: 600px;
}
/* make this gradient work. looks great
.container {
    background: linear-gradient(75deg, rgba(119, 205, 155, 0.82), rgba(69, 24, 115, 0.53));
}
*/
